.signup {
  display: flex;
  flex-direction: column;
  width: 40%;
  &-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  &-label {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-input {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 40px;
  }
  &-button {
    background: rgb(102, 117, 249);
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 0.9rem;
    margin-top: 25px;
  }
  &-error {
    margin-bottom: 15px;
    color: rgb(218, 28, 28);
    font-size: 0.9rem;
  }
  &-eye {
    position: absolute;
    width: 45px;
    right: 1px;
    top: 33.5px;
    z-index: 5;
  }
}

#password {
  position: relative;
}
